<div class="flex items-center">
  <% if display_text? %>
    <span class="text-sm font-medium mr-2"><%= text_display %></span>
  <% end %>
  <div class="flex-grow progress-bar <%= background_class %>" role="progressbar" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar__fill <%= color_class %> <%= height_class %>" style="width: <%= percentage %>%"></div>
  </div>
  <% if display_text? && display_text? != true %>
    <span class="ml-2 text-sm font-medium"><%= percentage %>%</span>
  <% end %>
</div>
