<div class="flex items-center">
  <% if display_text? %>
    <span class="text-sm font-medium mr-2"><%= text_display %></span>
  <% end %>
  <div class="flex-grow <%= background_class %> <%= height_class %> rounded-full overflow-hidden">
    <div class="<%= height_class %> <%= color_class %> rounded-full" style="width: <%= percentage %>%"></div>
  </div>
  <% if display_text? && display_text? != true %>
    <span class="ml-2 text-sm font-medium"><%= percentage %>%</span>
  <% end %>
</div>
